/*Global*/
:root {
  /*color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-blue: #73aace;
  --color-blue: #2563c7;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /*font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /*font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weigth-regular: 400;

  /*size*/
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 250ms;
}

/*Universal Tag*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*Typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weigth-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Section */
.section {
  padding: 40px;
  text-align: center;
}

.section__container {
  margin: auto;
  max-width: 1200px;
}

/*navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  top: 0px;
  border-bottom: 2px solid var(--color-light-white);
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 1px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 28px;
  top: 14px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('imgs/home-background.png') center/cover no-repeat;
  padding-top: 100px;
  transition: all var(--animation-duration) ease-in;
}

.section.home__scroll {
  background-color: transparent;
}

.home__profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
  margin: 24px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  position: relative;
  top: 5px;
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  margin: 0 60px;
  color: var(--color-grey);
}

.major__description {
  font-size: var(--font-small);
}

.about_careers {
  text-align: left;
}

.career {
  display: flex;
  align-items: center;
  margin: 16px;
}

.career img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.career_description {
  margin: 0 16px;
}

.career__name,
.career__period {
  color: var(--color-grey);
}

.career__name {
  font-size: var(--font-small);
}
.career__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  margin: 32px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  padding: 16px 80px;
}

.skill__title {
  color: var(--color-light-white);
}

.skill {
  margin-bottom: 12px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
  margin: 4px 0;
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
  color: var(--color-light-white);
}

.tools,
.etc {
  padding: 16px 80px;
}

.tools__list li,
.etc__list li {
  margin: 4px;
}

.etc {
  background-color: var(--color-light-grey);
}

/* My Work */
.work__menu {
  display: flex;
  margin: 16px 180px;
  justify-content: center;
}

.menu__btn {
  border: 1px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
  flex-basis: 25%;
  padding: 8px 40px;
  text-align: center;
  position: relative;
}

.menu__btn.active,
.menu__btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.menu__count {
  background-color: var(--color-orange);
  display: inline-block;

  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  color: var(--color-white);
  position: relative;
  left: 20px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.menu__btn.active .menu__count,
.menu__btn:hover .menu__count {
  opacity: 1;
  left: 2px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.project {
  background-color: var(--color-light-white);
  margin: 2px;
  width: 250px;
  height: 250px;
  padding: 8px;
  position: relative;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
}

.project__description h3,
.project__description span {
  display: inline-block;
  color: var(--color-white);
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.6;
}

.project:hover .project__description h3,
.project:hover .project__description span {
  transform: translateY(0);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin-top: 60px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial:nth-child(even) {
  flex-direction: row-reverse;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial:nth-child(odd) .testimonial__avatar {
  margin-right: 32px;
}

.testimonial:nth-child(even) .testimonial__avatar {
  margin-left: 32px;
}

.testimonial__speech_bubble {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
}
.testimonial__speech_bubble p {
  color: var(--color-light-grey);
}

.testimonial__name {
  font-size: var(--font-small);
  margin: 8px 0;
}

.testimonial__name a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin-bottom: 24px;
}

.contact__links i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: var(--font-large);
  transition: all var(--animation-duration) ease-in;
}

.fa-github:hover {
  color: var(--color-black);
}

.fa-facebook:hover {
  color: var(--color-blue);
}

.contact__links i:hover {
  transform: scale(1.1);
}

.contact__rights {
  font-size: var(--font-small);
}

/* Arrow up */
.arrow-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height-step: 60px;
  font-size: 40px;
  bottom: 40px;
  right: 30px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 50%;
  transition: all var(--animation-duration) ease;
  opacity: 0;
  pointer-events: none;
}

.arrow-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

/* below 768px screen */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin: 16px;
  }

  .skillset {
    flex-direction: column;
  }

  .work__menu {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
